[server]
%{ for host in k3s_masters ~}
${ split("/", split("=", split(",", host.ipconfig0)[0])[1])[0] }
%{ endfor ~}

[agent]
%{ for host in k3s_workers ~}
${ split("/", split("=", split(",", host.ipconfig0)[0])[1])[0] }
%{ endfor ~}

[k3s_cluster:children]
server
agent

[k3s_cluster:vars]
ansible_private_key_file=/home/angle/.ssh/id_ed25519
ansible_python_interpreter='/usr/bin/env python3'
ansible_user=debian
