# terraform providers
.terraform
# terraform init command from gitlab
tf_init.sh
# python venv for pyratlabs k3s role
k3s_venv
# python cache when running ansible-lint
__pycache__
# ansible roles
ansible/roles/*
# except requirements file and non-galaxy k3s role
!ansible/roles/requirements.yml
!ansible/roles/k3s_roles
!ansible/roles/cloudflare_le_cert
