global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

frontend http_front
    bind :80
    mode http
    option httplog
    redirect scheme https code 301 if !{ ssl_fc }

frontend https_front
    bind :443 ssl crt /etc/haproxy/certs/cert.pem
    mode http
    option httplog
    default_backend http_back

backend http_back
    balance roundrobin
    option http-server-close
    cookie SERVER insert indirect nocache
    option forwardfor
    timeout tunnel 1h
    http-request set-header X-Forwarded-Port %[dst_port]
    http-request add-header X-Forwarded-Proto https if { ssl_fc }
{% for host in play_hosts %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:8006 ssl verify none check port 8006 inter 5s rise 2 fall 2 cookie {{ host }}
{% endfor %}
