[Unit]
Description=Deluge Bittorrent Client Web Interface
Documentation=man:deluge-web
After=network-online.target deluged.service
Wants=deluged.service

[Service]
Type=simple
UMask=027

{% if enable_logging == true %}
ExecStart=/usr/bin/deluge-web -d -c {{ deluge_config_dir }} -l {{ deluge_log_dir }}web.log -L {{ deluge_log_level }}
{% else %}
ExecStart=/usr/bin/deluge-web -d -c {{ deluge_config_dir }}
{% endif %}

Restart=on-failure

[Install]
WantedBy=multi-user.target
